{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>My about page</h1>
    <p>
        My enthusiasm for maths comes from recipes, and a childhood sweet tooth;
        Reading 'Cakes, custard and category theory' aged 14 in pursuit of the perfect
        chocolate brownies recipe, I learned about abstract mathematical principles
        through examples from everyday life, and become fascinated by the vast and
        profound world of maths. I realised that maths underpins everything which
        obeys the rules of logic and can be never-ending; the perfect intellectual
        challenge. The more progress I made to understand maths further, the more
        intriguing things became. I enjoyed the feeling of exploring and the sense of
        achievement when I solved complicated mathematical questions, and hope to
        pursue this further at university.
        As I grew up, my attention has become drawn to more obscure books about
        maths. In particular, 'How to think like a mathematician' brought deeper insight
        into logical thinking. I found that maths is an accurate subject depending solely
        on clear, unambiguous logic, where guessing or routine methods are
        ineffective; I relish the process of seeking creative answers within a prescribed
        framework. The most interesting topic to me is calculus, which explains the
        relationship between variables through rigorous inference and can reduces the
        difficulty of processing information; the circumspect way of thinking required
        by calculus is highly appealing. For me, maths is not an impractical model, but a
        tool with significant practical applications, that I could harness in a number of
        fields. I was so excited for the first time I knew that computers had their own
        language. Binary, created by mathematicians, uses only two simple numbers, 0
        and 1, to create a convenient computer language that allows people to
        manipulate data, forming the basis of many digital systems and tools. Maths is
        the basis for thinking logically, which like a torch, gave humans the
        opportunities to explore the dark world.
        To improve myself and become a well-rounded person, I qualified for the
        International Academic Competition (2021) and scored 239/250; I also joined in
        the Junior Canada Chemistry Olympiad (2021) , British Chemistry Olympiad
        (2022) , achieving bronze awards in both, and took part in the Canada
        Chemistry Olympiad (2022) . Through those events, my critical thinking and
        problem-solving skills have greatly improved. Moreover, I attended the Asdan
        business competition (2020) , which enhanced my leadership, multi-tasking,
        teamwork and presentation skills. I enjoy proving my viewpoint, and revel in the
        feeling when well-thought-out logical arguments collide. So I entered the
        'Zongheng' cup debate tournament (2019) and won second prize. I also like to read journals related to math in my
        spare time to gain
        extra information and satisfy my thirst for knowledge.
        Meanwhile, I enjoy being involved in school activities, such as serving in the
        Student Council as Director of Activities and Outreach, and founding the school
        magazine, where I wrote and revised articles by myself to develop my prose.
        During charity activities, I voulunteered to teach kids from disadvantaged
        backgrounds in remote areas of China who are not able to attend school. It was
        a great blessing to help people in need through my abilities, something I hope
        to continue at university.
        I self-studied primary school, as my family traveled around the world. It was
        during this valuable time that I developed my self-discipline and independent
        learning skills. I have also developed a wide variety of hobbies, including 13
        years of piano, Latin dance, swimming and tennis.
        Overall, with my genuine passion in maths and a strong work ethic, I believe I
        am capable of succeeding in a mathematics degree course and am very excited
        to study it further at university.</p>
</div>
{%endblock%}